
    
body{
    max-width: 1200px;
    margin: 10px 20px;
    width: 160vh;
    background-color: rgba(204, 216, 216, 0.216);
    display: grid;
    grid-template-areas: 
    'header header header'
    'hiro hiro hiro'
    'main main main'
    'pic-left text-center pic-right '
    'footer footer footer';
    
    
}
/* header , .hiro, main, .pic-left-down,
 .text-center-down, .pic-right-down{
   

} */

header{
    grid-area: header;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    
    
}
.icon{
    background-color: rgba(81, 38, 182, 0.897);
    border-radius: 100%;
    width: 30px;

}
header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
 
}
 header a {
    color:black
}
 .hiro{
    grid-area: hiro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:400px ;
    background-color: rgba(169, 169, 169, 0.291);

    

 }
 .hiro h1{
    text-transform: uppercase;
 }
 .hiro p{
    font-size: .75rem;
   
 }
 main{
    grid-area: main ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    height: 700px;
    background-color: rgba(169, 169, 169, 0.01);;
    margin-top: 10px;

 }
 .pic-container{
    width: 30%;
    height: 30%;
   
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

 }
 .pic{
    background-color: rgba(169, 169, 169, 0.291);
    width: 150px;
    height: 360px;
 }
 .pic-container .icone{
    border-radius: 100%;
    background-color: blue;
    width: 30px;
 }
 .pic-container .text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
   
 }
 .pic-left-down{
    grid-area: pic-left ;
    width:10rem;
    background-color: rgba(169, 169, 169, 0.291);
    height: 300px;

  
 }
 .text-center-down{
    grid-area: text-center ;
    width: rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid;
    border-right: solid;
    background-color: rgba(169, 169, 169, 0.291);

    
 }
 .text-center-down h2{
    text-transform: uppercase;
 }
 .text-center-down p{
    width: 50%;
 }
 .pic-right-down{
    grid-area: pic-right;
    width: 10rem;
    background-color: rgba(169, 169, 169, 0.291);



 }
 footer{
    grid-area: footer;
    background-color: darkgray;
    height: 50px;
 }