*{
    margin:0;
    padding: 0;  
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'aside box box box'
    'aside box box box'
    'aside main main main'
    'footer footer footer footer'
    ;
    gap : 5px ;
    
    
}

header, aside , .box-container, main, footer{
    background-color: rgba(117, 198, 82, 0.479);
   
   
   
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

}
aside{
    grid-area:aside ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    grid-area: box;
    display: grid;
   grid-template-columns:1fr 1fr 1fr;
   gap: 5px;

 
   border: none;
   
  
}
.item{

    
    background-color: rgba(117, 198, 82, 0.479);


}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}